<footer>
 <!-- begin footer-main -->
 <div class="footer-main">
   <!-- begin row -->
   <div class="row">
      <!-- begin footer info -->
       <div class="col-four tab-full mob-full footer-info">
           <h4 style="color:MintCream;">About Splashdash-Logic</h4>
              <p style="color:MintCream;">
                Slapdash-Logic aims to provide readers with nonpartisan content. Curators for this site aim to deliver demiurgic editorials and their insight on numerous topics. We thrive to keep our treatise altruistic when pertaining to technology, current events, media, and political affairs.
             </p>
       </div>
       <!-- end footer-info -->

       <!-- begin site links -->
       <div class="col-two tab-1-3 mob-1-2 site-links">
         <h4 style="color:MintCream;">Site Links</h4>
         <ul>
           <li><a href="#">About Us</a></li>
           <li><a href="#">Blog</a></li>
           <li><a href="#">Terms</a></li>
           <li><a href="#">Privacy Policy</a></li>
         </ul>
       </div>
       <!-- end site-links -->

       <!-- begin social links -->
       <div class="col-two tab-1-3 mob-1-2 social-links">
       </div>
       <!-- end social links -->

       <div class="col-four tab-1-3 mob-full footer-subscribe">
     </div> <!-- end row -->
 </div> <!-- end footer-main -->


  <!-- begin footer bottom -->
   <div class="footer-bottom">
     <div class="row">
       <div class="col-twelve">

         <div class="copyright">
           <span>Splashdash-Logic© 2018</span>
          </div>

          <div id="go-top">
             <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon icon-arrow-up"></i></a>
          </div>
          
       </div>
     </div>
   </div>
   <!-- end footer-bottom -->
</footer>
